* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 16px 0;
  background-color: #182c61;
  color: #ecf0f1;
  font-family: "Bungee", sans-serif;
  font-weight: normal;
}
body {
  font-family: "Roboto", system-ui;
}

header nav li {
  display: inline;
  margin: auto 16px;
  font-size: 16px;
}

header nav a {
  color: #ecf0f1;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
header .container,
section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-list img {
  height: 24px;
  margin-right: 8px;
}

.brand-list li {
  display: inline;
}
section .container {
  align-items: flex-start;
}

#about {
  padding: 24px 0;
  color: #182c61;
}

#about h2 {
  margin-bottom: 16px;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
  font-weight: normal;
}

section p {
  margin-bottom: 8px;
}

.store-front {
  margin-right: 32px;
}
